# Motivating Example: 
Now you have finished your job at Microsoft Cafe and you start your own business--a pizza shop. You would like to acknowledge and give back to your customers for their support:
- Customers spent more than \$100 earn a free pizza
- Customers spend more than \$20 and less than
-  \$100 earn a free soft drink
- Customers spend less than \$20 earn a coupon

If you only have a few customers - say "Microsoft" and "Meta". This is doable using f-string as follows.

In [1]:
customer = "Microsoft"
message = f"""Dear {customer},
I appreciate your support to my pizza shop.... """
print(message)

Dear Microsoft,
I appreciate your support to my pizza shop....

### What if you have millions of customers?

# Learning Objectives:
- Familiarize with methods and indexing of list
- Familiarize with dictionary
- Understand Boolean variables
- Understand control flow and iterables

# List
A list is a versatile and widely used data structure in Python. It is an ordered collection of elements enclosed within square brackets [ ]. Lists can store multiple items of different data types, including numbers, strings, and even other lists. Lists are mutable, meaning you can change their contents by adding, removing, or modifying elements.

## Creating Lists

You can create a list by placing a comma-separated sequence of elements within square brackets. Here's how to create a simple list:

In [ ]:
my_list = [1, 2, 3, 4, 5]
newlist = [1, '1']

## Accessing Elements

You can access elements of a list using indexing. Python uses zero-based indexing, meaning the first element is at index 0, the second at index 1, and so on. You can also use negative indexing, where -1 refers to the last element, -2 to the second-to-last, and so forth.

In [ ]:
first_element = my_list[0]  # Access the first element (1)
last_element = my_list[-1]   # Access the last element (5)
print(first_element, last_element)

## List Slicing

Slicing allows you to extract a portion of a list. It's done by specifying a start and end index separated by a colon :

In [ ]:
subset = my_list[1:4]  # Get elements at index 1, 2, and 3 (2, 3, 4)
subset

# Practice 1: List slicing
Complete the code in the following cell. **new_list** is a list containing integers from 0 to 49. 
- Create a list named **last_ten** containing the last 10 elements of new_list. Print out last_ten.
- Create a list named **odd_list** containing all elements with odd indices in new_list. Print out odd_list
- Create a list named **sub_list** containing all integer multiples of 7 in new_list. Print out sub_list

In [8]:
# add your code
new_list = list(range(50))
print(new_list)

last_ten = new_list[-10:];
print(last_ten);
print(new_list[1::2]);
print(new_list[::-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[40, 41, 42, 43, 44, 45, 46, 47, 48, 49]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
[49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Modifying Lists

Lists are mutable, so you can change their elements by assignment.

In [13]:
  # Update the third element to 10
my_list = [1,2,3,4,5,6,7,8,9,10]

## Adding Elements

You can add elements to a list using various methods. Two common methods are `append()` and `insert()`.

In [14]:
my_list.append(6)        # Add 6 to the end of the list
print(my_list)
my_list.insert(1, 7)     # Insert 7 at index 1, shifting other elements
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6]
[1, 7, 2, 3, 4, 5, 6, 7, 8, 9, 10, 6]

## Removing Elements

You can remove elements from a list using methods like `remove()`, `pop()`, and `del`.

In [9]:
# Remove the element with the value 4
my_list.remove(4)
print(my_list)

# Remove and return the element at index 3
popped_element = my_list.pop(3)
print(popped_element, my_list)

# Delete the first element
del my_list[0]
print(my_list)

NameError: name 'my_list' is not defined

## List Concatenation and Repetition

You can combine lists using concatenation (+) and repeat a list using repetition (*).

In [10]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2     # Concatenation
repeated_list = list1 * 3         # Repetition: [1, 2, 3, 1, 2, 3, 1, 2, 3]
print(f"combined_list: {combined_list}")
print(f"repeated_list: {repeated_list}")

combined_list: [1, 2, 3, 4, 5, 6]
repeated_list: [1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Methods

Python provides several built-in methods for working with lists. Some useful methods include
- len()
- sort()
- reverse()
- count()

In [15]:
length = len(my_list)       # Get the length of the list
print(length)
my_list.sort()              # Sort the list in ascending order
print(my_list)
my_list.reverse()           # Reverse the order of elements
print(my_list)
count_of_2 = my_list.count(2)  # Count the occurrences of the value 2
print(count_of_2)

12
[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 9, 10]
[10, 9, 8, 7, 7, 6, 6, 5, 4, 3, 2, 1]
1

In [17]:
# Check for existence in a list with "in"
20 in my_list  # => True

False

In [18]:
# return a new list
sorted(my_list)

[1, 2, 3, 4, 5, 6, 6, 7, 7, 8, 9, 10]

In [19]:
sorted(my_list, reverse=True)

[10, 9, 8, 7, 7, 6, 6, 5, 4, 3, 2, 1]

# Practice 2: Keywords and built-in functions
In the previous sample code, we have seen lists containing numbers. 
- Is it possible to create a list of lists? Try out the code below and see if you can create a list variable named `l3` containing `l1` and `l2` as elements. Print out `l3`.
- Create a list variable named `list` containing 7, 8, and 9. Print out list. Write this line of code before the definition of `l4`.
- Read the last line of code in the cell below `l4 = list(range(50))`. Imagine what would happen before running the code, and then run it to compare your imagination with the actual outcome. Are you able to come up with an explanation?

In [20]:
# add your code below
l1 = [1, 2, 3]
l2 = [4, 5, 6]
l3 = [l1,l2]
print(l3)


l4 = list(range(50))

[[1, 2, 3], [4, 5, 6]]

# Keywords and Builtin Modules Reserved by Python
Some keywords or names are reserved by Python. We need to be careful when defining our own variables to avoid overwritting them.

In [ ]:
import keyword as kw
import builtins

kw.kwlist
dir(builtins)

# Dictionary

In [21]:
# Dictionaries store mappings from keys to values
empty_dict = {}
# Here is a prefilled dictionary
player_dict = {"name": "Luyao", "is_active": True, "score": 3}

In [22]:
# Look up values with []
player_dict["name"]  # => 1

'Luyao'

In [23]:
# Get all keys as an iterable with "keys()". We need to wrap the call in list()
# to turn it into a list. We'll talk about those later.  Note - for Python
# versions <3.7, dictionary key ordering is not guaranteed. Your results might
# not match the example below exactly. However, as of Python 3.7, dictionary
# items maintain the order at which they are inserted into the dictionary.
list(player_dict.keys())  # => ["three", "two", "one"] in Python <3.7
list(player_dict.keys())  # => ["one", "two", "three"] in Python 3.7+

['name', 'is_active', 'score']

In [24]:
# Get all values as an iterable with "values()". Once again we need to wrap it
# in list() to get it out of the iterable. Note - Same as above regarding key
# ordering.
list(player_dict.values())  # => [3, 2, 1]  in Python <3.7
list(player_dict.values())  # => [1, 2, 3] in Python 3.7+

['Luyao', True, 3]

In [ ]:
# Check for existence of keys in a dictionary with "in"
"score" in player_dict  # => True
"address" in player_dict      # => False

In [26]:
# Looking up a non-existing key is a KeyError
player_dict["address"]  # KeyError

KeyError: 'address'

In [27]:
player_dict

{'name': 'Luyao', 'is_active': True, 'score': 3}

In [25]:
# Use "get()" method to avoid the KeyError
player_dict.get("score")      # => 1

3

In [28]:
player_dict.get("address")     # => None

In [29]:
# The get method supports a default argument when the value is missing
player_dict.get("score", 0)   # => 1

3

In [30]:
player_dict.get("address", "University of Washington")  # => 4

'University of Washington'

In [31]:
# Adding/Updating a dictionary
player_dict["address"] = "Univeristy of Washington"
player_dict

{'name': 'Luyao',
 'is_active': True,
 'score': 3,
 'address': 'Univeristy of Washington'}

In [32]:
player_dict['score'] = 100
player_dict

{'name': 'Luyao',
 'is_active': True,
 'score': 100,
 'address': 'Univeristy of Washington'}

In [33]:
# Remove keys from a dictionary with del
del player_dict["address"]  # Removes the key "one" from filled dict
player_dict

{'name': 'Luyao', 'is_active': True, 'score': 100}

# Dictionaries in a list

In [34]:
"Create, Read, Update, Delete"
instructors = [{
    "name": "Luyao",
    "major": "ECE",
    "school": "UW",
    "score": 10
},
{
    "name": "Kevin",
    "major": "Civil Engineering",
    "school": "UW",
    "score": 10
}]

In [35]:
# create
new_instructor = {"name": "Haonan",
    "major": "ECE",
    "school": "UW",
    "score": 10}

instructors.append(new_instructor)
print(instructors)

[{'name': 'Luyao', 'major': 'ECE', 'school': 'UW', 'score': 10}, {'name': 'Kevin', 'major': 'Civil Engineering', 'school': 'UW', 'score': 10}, {'name': 'Haonan', 'major': 'ECE', 'school': 'UW', 'score': 10}]

In [ ]:
# read 
instructors[0]["name"]

In [ ]:
# update
instructors[0]["score"] = 1

In [ ]:
# delete
instructors.pop(0)
instructors

# Practice 3: keyword and value of dictionary
Based on our discussion so far, create a menu for Microsoft Cafe. Choose appropriate data structure. Your menu should at least capture:
- Item category such as bakery, drink
- Sizes of drinks and associated price

**Optional**: Revise our program to print receipt based on your new menu

In [ ]:
# add your code below
menu = {
    "bakery": {
        "bread":12.99, 
         "cake":1.99, 
         "donut":12.88
         },
    "beverage": {
        "coffee":{"large":4.99, "medium":3.99, "small":2.99},
        "tea":1.99,
        "juice":3.99
    }
}

print(menu["bakery"]["donut"])
print(menu["beverage"]["coffee"]["large"])

12.88
4.99

# Boolean

In [ ]:
True

In [ ]:
False

In [ ]:
1 == 1

In [ ]:
'Apple' == "Apple"

## Truthy and falsy values

In [ ]:
bool("Apple")

In [ ]:
bool("")

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool([1,2,3])

In [ ]:
bool([])

## Boolean Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 == 1

In [ ]:
1 != 1

In [ ]:
not True

In [ ]:
not False

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
# Check if something is in a collection
animals = ['Dog', 'Cat', 'Fish']
print('Dragon' in animals)

# in on dictionaries checks for existance of key
player = {"name": "Luyao", "score": 3}
print('score' in player)

# Control Flow and Iterables

## if-else
<img src="if-else-flowchart.png" width="1000"/>

In [ ]:
# Let's just make a variable
some_var = int(input("Please enter a number: "))

KeyboardInterrupt: Interrupted by user

In [ ]:
# Here is an if statement. Indentation is significant in Python!
# Convention is to use four spaces, not tabs.
# This prints "some_var is smaller than 10"
if some_var > 10:
    print("some_var is totally bigger than 10.")
elif some_var < 10:    # This elif clause is optional.
    print("some_var is smaller than 10.")
else:                  # This is optional too.
    print("some_var is indeed 10.")

In [41]:
name = "Apple"
if name:
    print(f"My name is {name}")

My name is Apple

# Practice 4: If-else
Given the menu of Microsoft Cafe, prepare a program to get the price of item ordered by customer. If no such item is found from menu, notify the user.

In [ ]:
# add your code below

# Loops
<img src = "iterable.png" width = "1000">

In [ ]:
"""
For loops iterate over lists
prints:
    dog is a mammal
    cat is a mammal
    mouse is a mammal
"""

animals = ["dog", "cat", "mouse"]
for animal in animals:
    # You can use format() to interpolate formatted strings
    print("{} is a mammal".format(animal))

In [ ]:
"""
Loop over a list to retrieve both the index and the value of each list item:
    0 dog
    1 cat
    2 mouse
"""
animals = ["dog", "cat", "mouse"]
for i, value in enumerate(animals):
    print(i, value)

In [ ]:
employees = [
    {"id": 1, "name": "Ian", "score": 5, "is_active": True},
    {"id": 2, "name": "Luyao", "score": 6, "is_active": False},
]
for employee in employees:
    print(f"Employee {employee['id']}, name: {employee['name']}")

In [ ]:
"""
"range(number)" returns an iterable of numbers
from zero up to (but excluding) the given number
prints:
    0
    1
    2
    3
"""
for i in range(4):
    print(i)

0
1
2
3

In [ ]:

"""
"range(lower, upper)" returns an iterable of numbers
from the lower number to the upper number
prints:
    4
    5
    6
    7
"""
for i in range(4, 8):
    print(i)

In [ ]:
"""
"range(lower, upper, step)" returns an iterable of numbers
from the lower number to the upper number, while incrementing
by step. If step is not indicated, the default value is 1.
prints:
    4
    6
"""
for i in range(4, 8, 2):
    print(i)

In [ ]:
?range

# while loop
<img src = "while-loop.png" width = "1000">

In [ ]:
"""
While loops go until a condition is no longer met.
prints:
    0
    1
    2
    3
"""
x = 0
while x < 4:
    print(x)
    x += 1  # Shorthand for x = x + 1

# Comprehensions

## Transformation

In [50]:
# Change string to all cap using .upper()
"dog".upper()

'DOG'

In [51]:
animals = ["dog", "cat", "mouse"]

In [52]:
# take one animal and make it all cap
animals[0].upper()

'DOG'

In [54]:
# what if we want to make a list of animals all capitalized?
capitalized_animals = []
for animal in animals:
    cap_animal = animal.upper()
    capitalized_animals.append(cap_animal)
print(capitalized_animals)

['DOG', 'CAT', 'MOUSE']

In [ ]:
# The pythonic way
[a.upper() for a in animals]

## Filtering

In [ ]:
[a for a in animals if a == 'dog']

## Filter then transform

In [ ]:
[a.upper() for a in animals if a == 'dog']

## Real world example

In [55]:
employees = [
    {"id": 1, "name": "Ian", "score": 5, "is_active": True},
    {"id": 2, "name": "Luyao", "score": 6, "is_active": False},
]
high_score_employees = [x for x in employees if x['score'] > 5]
high_score_employees

[{'id': 2, 'name': 'Luyao', 'score': 6, 'is_active': False}]

In [56]:
active_employees = [x for x in employees if x['is_active']]
active_employees

[{'id': 1, 'name': 'Ian', 'score': 5, 'is_active': True}]

## break and continue to alter control flow

break exits the loop

continue skips the current iteration and proceeds with the next one

In [ ]:
for ii in range(5):
    if ii == 2:
        break
    print(ii)

for ii in range(5):
    if ii == 2:
        continue
    print(ii)

# Question
You have 10k elements in a list, a remote storage system can only accept 10 elements at a time.

Write a program that feeds the data to a remote system 10 elements at a time.

In [ ]:
full_elements = list(range(10000))

for element in full_elements:

# Practice: Improve balance calculation for bank account
We prepared a python program for a bank to compute remaining balance in customers bank account last week.

We agreed that the program was flawed.

Based on our discussion today and your understanding of how remaining balance should be calculated, improve the program you had from last week

# Practice: Preprocess data for LLM instruction tuning

You are given a dataset for LLM instruction tuning. Write a Python program to clean and normalize the dataset below:

```py
dataset = [
    {"instruction": "  Translate to french  ", "input": "HELLO", "output": "bonjour "},
    {"instruction": "Summarize text", "input": "This is a short article.", "output": "short article summary"},
    {"instruction": "generate a title", "input": "", "output": "The Power of Data"},
    {"instruction": "  explain code  ", "input": "print('hi')  ", "output": " it prints hi"},
    {"instruction": "", "input": "data science", "output": "Field of study"}
]

```
You tasks:
- Remove leading/trailing spaces with `.strip()`. Please look up this method
- Convert all text to lowercase
- Removes invalid samples: If `instruction` is empty, then skip that example.
- Normalizes missing inputs: If `input` is empty, replace with "(no input)".

## Debugging Challenge

In [ ]:
# Create a collection of these authors and
# the year they kicked the bucket;
# print the collection in the following format:

# Charles Dickens died in 1870.

# Charles Dickens, 1870
# William Thackeray, 1863
# Anthony Trollope, 1882
# Gerard Manley Hopkins, 1889

authrs = {
    "Charles Dickens": "1870",
    "William Thackeray": "1863",
    "Anthony Trollope": "1882",
    "Gerard Manley Hopkins": "1889"

for author date in authors.items{}:
    print "%s" % authors + " died in " + "%d." % Date
}

In [ ]:
# fixed code goes below

## Practice 5
Write a program with the following functionalities:
- Randomly generate an integer between 0 to 9
- Prompt the user to take a guess between 0 to 9 
- If the input is valid and correct, output a message telling the user wins
- If the input is valide but incorrect, provide a hint to the user (whether the guess is too large or too small), and ask the user to take another guess

In [ ]:
import random
generated_number = random.randint(0,9) # generate a random integer between 0 and 9
print(generated_number)

In [ ]:
# add your code below

# Can you use the data structures and control flows that we have learned so far to solve the motivating example in a scalable manner?